<?xml version="1.0"?>
<launch>
        
	<group ns="cam1">
		<include file="$(find pylon_instant_camera_ros1)/launch/camera.launch">
			<arg name="ip_address" value="192.168.12.1"/>
			<arg name="serial_number" value="2"/>
		</include>
	</group>
	<group ns="cam2">
		<include file="$(find pylon_instant_camera_ros1)/launch/camera.launch">
			<arg name="ip_address" value="192.168.13.3"/>
			<arg name="serial_number" value="1"/>
		</include>
	</group>


  
</launch>
